.婚车服务{ background:url("婚车服务.jpg") top left no-repeat; }
.和记租车_r2_c2jpg{ width:134px; height:130px; background-position:-10px -10px; }
.和记租车_r2_c4jpg{ width:166px; height:62px; background-position:-10px -150px; }

