.接机{ background:url("接机.jpg") top left no-repeat; }
.和记租车_r2_c2jpg{ width:134px; height:130px; background-position:-10px -10px; }
.和记租车_r6_c2jpg{ width:81px; height:63px; background-position:-10px -150px; }
.和记租车_r4_c5jpg{ width:166px; height:62px; background-position:-10px -223px; }
.和记租车_r2_c5jpg{ width:166px; height:62px; background-position:-10px -295px; }

